*{
	font-family : "Courier", sans-serif;
	color: grey;
}
/*IMPORTANT:; Do Not add or remove anything between and including the two rules above and below */
.smaller-box{
	margin-left: 10%;
	margin-right: 10%;
	position:center;
}

.whitened{
	background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.8)), url("../resources/images/background-image.jpg");
	background-size : cover;
	background-repeat: no-repeat;
	background-position: center;
}

.hidden{
	display: none;
}

a
{
	text-decoration: none;
	color : rgb(0,180,255);
	font-weight: normal;
}

.no-style{
	list-style: none;
	text-decoration: none;
	font-weight: bold;
	margin: 0 10% 0 10%;
}
.no-style > li {
	color: black;
	font-size: 1.2rem;
}

.flexitem-buttons
{
	display: flex;
	flex-direction: column;
	position: absolute;
}

.flexbox-container
{
	display: flex;
	padding: 0px;
	top : 0px;
	position: sticky;
	margin-bottom: 0px;
	width: 100%;
	background-color: #74121D;
	align-items: right;
}


.center
{
	display: flex;
	justify-content: center;
	align-items: center;
}


.proj-description li
{

	color : rgb(0,0,160);
	font-weight: bold;
	display: block;
	margin-right: 10%;
	margin-left: 10%; 
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.content p
{
	margin-top : 20px;
	color: rgba(0,0,0,0.9);
    /*font-weight: bold;*/
    font-family: "Bell MT";
    margin-right: 10%;
    margin-left: 10%;
}
.content a:hover {
	border-style : none;
  	border-width: 0.85px;
  	border-color : white;
  	background-color : rgba(255,255,255,0.7);
}
.content a{

    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: blue;
    margin-bottom: 0.01em;
}
}

.content-cont h2
{
	font-weight: bold;
	color : #9EB7E5;
	padding-top: 30px;
	font-size : 48px;
	text-align: center;
	margin-bottom: 20px;
	letter-spacing: 3.6px;
}
.content-cont a
{
	color : blue;
	text-decoration: none;
}
.content-cont p
{
	padding-right : 120px;
	padding-left : 36px;
	margin-top : 20px;
	font-size : 16px;
	color : black;
}
.content .spacer
{
	font-size: 1px;
	margin : 20px;
	color : rgba(0,0,0,0);
}

.content-white
{

	background-color: rgba(245,235,245,0.80);
	/*#6C0E23 = 108,14,35,0.65 ; 9EB7E5 = 158,183,229 */
	/*margin-top : 10px;*/
}
.content-cont
{

	background-color: rgba(255,252,222,0.55);
	margin-top : 24px;	
}
.content h2, h3
{
	font-weight: bold;
	color : #74121D;
	padding-top: 30px;
	text-align: center;
	margin-bottom: 20px;
	letter-spacing: 3.6px;
}
h2, #mpint{
	padding-top: 0;
	margin-bottom: -2%;
}
.flag{
	padding-top: 0.3rem; 
	align-self: center;
	width: 1.5rem;
	height: auto;
}
table
	{

		box-decoration-break: slice;
		/*align-items: center;*/
		/*margin-left : 17%;*/
		/*align-self: center;*/
		background-color: rgba(231,231,231,0.2);
		/*border-color: red;*/
		/*border-width: 10px;*/
		/*background-color: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,1));*/
		margin-top: 30px;
	}

	td
	{	
		font-size : 20px;
		/*position: relative;*/
		color: rgba(0,50,125, 0.85);
		font-weight: bold;

		/*margin-right : 5px;*/
		/*margin-left : 5px;*/
	}
	th
	{
		font-size : 28px;
		color : #74121D;
		font-weight: bold;
		text-align: center;
	}

	.rb
	{
		color : #6C0E23;
		font-weight: bold;
	}
	.small
	{
		font-size:12px;
		color: black;
	}
	.br
	{
		color: black;
		font-weight: bold;
	}


	.title-table
	{ 
		/*left : 10%;*/
		text-align: center;
		color : black;
	}


	td
	{
		background-image : url("../resources/images/sun-bullet.png");
		background-position: 0% 60%;
		background-repeat: no-repeat;
	}

		.imageToInput /*flexbox container is set to wrap so items dont overflow*/
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin: 0% 5% 1.2em 5%;
	}




/* if in telephone screen*/
/*
@media only screen and (max-width: 680px)
{ 
	
	.btn
	{
		background-color: #9fe04a; 
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin-bottom: 20px;
		width : 30px;
		height: 20px;
	}

	.flexbox-container
	{
		margin : 0px;
		margin-bottom: 10px;
		display:  inline-block;
	}
		.imageToInput
	{	
		display : flex;
		justify-content: center;
		margin-left : 60px;
		align-items: center;
		padding-right: 20px;
	}

	td
	{	
		padding-left : 16px;
		font-size : 16px;
	}

	.content p
	{
		font-size : 21px;
	}

	.proj-description li
	{
			font-size: 16px;
	}

	.flexitem-navbar a
	{
		text-decoration: none;
		list-style: none;
		font-weight: bolder;
		font-size: 12px;
		display:  inline;
	}
	.flexitem-navbar li
	{
		font-size: 12px;
		border-style: solid;
		padding: 2.5px;
		border-width: 0.75px;
		border-color : black;
	  	width: 100%;
	  	margin-bottom: 5px;
		color: #EDF9DC;
		font-weight: 530;
		letter-spacing: 0.08em;
	}


	.active li
	{
		padding: 2.5px;
		border-style : solid;
	  	border-width: 0.75px;
	  	border-color : rgba(240,240,240,0.7);		
	}
}
*/

@media only screen and (min-width:680px){ /*	IF ON COMPUTER 			*/
	
	.content p
	{
		font-size : 21px;
	}
	.flexbox-container
	{
		margin : 0px;
		margin-bottom: 20px;
		z-index: 9;
	}
	.proj-description li
	{
			font-size: 24px;
	}
	.flexitem-navbar
	{
		top : 0px;
	 	margin: auto;
	 	margin-bottom: 12px;
	}
	.flexitem-navbar a
	{
		margin-top: 5%;
		text-decoration: none;
		list-style: none;
		margin-right: 1.6em;
		font-weight: bolder;
		font-size: 24px; /* IMPORTANT */
		display:  inline-block;
	}
	.flexitem-navbar li
	{
		text-align: center;
		border-style: solid;
		padding: 4.5px;
		border-width: 1.5px;
		border-color : grey;	
	 	margin: auto;
	  	width: 100%;
	  	color: #EDF9DC;
		font-weight: 550;
		letter-spacing: 0.08em;
	}

	/* top navigation bar*/
	.flexitem-navbar .center a :hover
	{
		padding: 4.5px;
		border-style : solid;
	  	border-width: 1.5px;
	  	border-color : white;
	}


	.active li
	{
		padding: 4.5px;
		border-style : solid;
	  	border-width: 1.5px;
	  	border-color : rgba(240,240,240,0.7);		
	}


	

	.content .divider
	{
		font-size: 1px;
		margin-bottom : 550px;
	}
	.content .smalldivider
	{
		font-size : 1px;
		margin-bottom : 225px;
	}
	table{
		table-layout: fixed;	
		width: 50%;
	}

	td
	{	
		padding-left : 36px;
		padding-top: 0.5em;
	}

	.flexitem-navbar .btn
	{
		
		background-color: #fff; 
		background-size: contain;
		border: 2px solid rgba(255,255,0,0);
		display: inline-block;
		width: 60px;
		height: 60px;
		position: fixed;
		bottom : 20px;
		right: 50px;
		border-radius: 10px;
	}
	.flexitem-navbar #git
	{
		background-image: url("../resources/icons/git-icon.png");
		right: 130px;
	}

	.flexitem-navbar #linkedin
	{
		background-image: url("../resources/icons/linkedin-icon.png");
	}


	.btn:hover
	{
		border: 2px solid rgba(255,255,255,1);
		background-color : rgba(0,0,255,1);
	}

	#myImg:hover, #myImg-2:hover, #myImg-3:hover {opacity: 0.7;}

	#myImg, #myImg-2, #myImg-3 {
	  border-radius: 5px;
	  cursor: pointer;
	  transition: 0.3s;
	}
	
	.modal {
	  display: none; /* Hidden by default */
	  position: fixed; /* Stay in place */
	  z-index: 10; /* Sit on top */
	  padding-top: 100px; /* Location of the box */
	  left: 0;
	  top: 0;
	  width: 100%; /* Full width */
	  height: 100%; /* Full height */
	  overflow: auto; /* Enable scroll if needed */
	  background-color: rgb(0,0,0); /* Fallback color */
	  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
	}
	/* Modal Content (Image) */
	.modal-content {
	  margin: auto;
	  display: block;
	  width: 85%;
	}

	#caption, #caption-2, #caption-3 {
	  margin: auto;
	  display: block;
	  width: 80%;
	  max-width: 700px;
	  text-align: center;
	  color: #ccc;
	  padding: 10px 0;
	  height: 150px;
	}

	/* Add Animation - Zoom in the Modal */
	.modal-content, #caption {
	  animation-name: zoom;
	  animation-duration: 0.6s;
	}

	@keyframes zoom {
	  from {transform:scale(0)}
	  to {transform:scale(1)}
	}

	/* The Close Button */
	.close, .close-2, .close-3 {
	  position: absolute;
	  top: 15px;
	  right: 35px;
	  color: #f1f1f1;
	  font-size: 40px;
	  font-weight: bold;
	  transition: 0.3s;
	}

	.close:hover, .close:focus, .close-2:hover, .close-2:focus, .close-3:hover, .close-3:focus {
	  color: #bbb;
	  text-decoration: none;
	  cursor: pointer;
	}

	/* 100% Image Width on Smaller Screens */
	@media only screen and (max-width: 700px){
	  .modal-content {
	    width: 100%;
	  }
	

} 
